# --- keep raw datasets out of GitHub (Drive / OneDrive only) ---
Toronto_Waste_Analytics/transit_points/TTC Routes and Schedules Data/*
Toronto_Waste_Analytics/waste_bins/**
Toronto_Waste_Analytics/pedestrian_proxy/**
Toronto_Waste_Analytics/population_context/**

# Ignore large/raw data formats
*.txt
*.csv
*.xlsx
*.shp
*.dbf
*.shx
*.gpkg
*.geojson